.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media(min-width: 800px) {
  .grid-container {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.grid-item {
  border: 1px solid #f1f1f1;
  font-size: 15px;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
}

input, select {
  border: none;  
}

input:focus{
  outline: none;
}

.header {
  font-weight: bold;
}

input[type=text]:focus {
  border: 0;
  border-bottom: 2px solid #4285F4;
}
